@use "variables" as *;
@use "./../base/fonts" as *;

// Media queries
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Primary button
@mixin btn-primary {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $white;
  background-color: $accent-100;
  transition: all 0.25s ease-out;

  @include respond-to("tablet") {
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
  }

  @include respond-to("desktop-sm") {
    padding: 1.8rem 3.4rem;
    font-size: 2rem;
  }

  &__arrow {
    display: block;
    width: 1.8rem;
    height: 1.2rem;
    background: url("assets/icons/arrow_right.svg");
    background-repeat: no-repeat;
    transition: all 0.25s ease-out;
  }

  &:hover {
    background-color: $accent-100-hov;
    transition: all 0.25s ease-in;
    .cta-btn__arrow {
      transform: translateX(3px);
      transition: all 0.25s ease-in;
    }
  }
}

// Secondary button
@mixin btn-secondary($showArrow: true) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.2rem 2rem;
  border-radius: 6px;
  border: 1px solid $white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: $white;
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 1px 1px 9px rgba(255, 255, 255, 0);
  transition: all 0.25s ease-out;

  @include respond-to("desktop-sm") {
    padding: 1.8rem 2.4rem;
    gap: 1.6rem;
    font-size: 2rem;
  }

  &__arrow {
    display: #{if($showArrow, "block", "none")};
    width: 1.8rem;
    height: 1.2rem;
    padding-right: 0.8rem;
    background: url("assets/icons/arrow_right.svg");
    background-repeat: no-repeat;
    transition: all 0.25s ease-out;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.05);
    transform: translateY(1px);
    transition: all 0.25s ease-in;

    .cta-btn__arrow {
      transform: translateX(2px);
      transition: all 0.25s ease-in;
    }
  }
}
