@use "./../abstracts" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem 0 1.6rem 0;
  width: 100%;
  background-color: $primary-900;

  @include respond-to("desktop-sm") {
    padding: 2.4rem 0 2.4rem 0;
  }

  &__container {
    flex-direction: row !important;
    align-items: flex-start !important;
  }

  &__info {
    width: 100%;
    max-width: 132rem;

    p {
      line-height: 2.4rem;
      color: $primary-100;

      &:first-child {
        font-weight: 600;
        color: $white;
      }
    }
  }
}
