# Node.js
/node_modules

#CSS maps
styles.css.map

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db