@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/dmsans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 500;
}
@keyframes selectFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(247, 150, 52, 0.3098039216);
  }
  100% {
    background-color: transparent;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}
@media (min-width: 996px) {
  h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (min-width: 996px) {
  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

.body1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .body1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 996px) {
  .body1 {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }
}

.body2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .body2 {
    font-size: 2.3rem;
    line-height: 3.2rem;
  }
}

.body3 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #FFFFFF;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1.2rem 2rem 1.2rem 2rem;
  background: linear-gradient(0deg, rgba(0, 15, 19, 0) 0%, rgba(0, 15, 19, 0.7058823529) 70%);
  background-color: none;
  z-index: 1;
  transition: all 0.4s ease-out;
}
@media (min-width: 768px) {
  .nav {
    padding: 2rem 3.2rem 2rem 3.2rem;
  }
}
@media (min-width: 996px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
}
.nav__mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 996px) {
  .nav__mobile-container {
    width: auto;
  }
}
.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 996px) {
  .nav__wrapper {
    flex-direction: row;
    width: 100%;
    max-width: 132rem;
  }
}
.nav__logo img {
  height: 4.8rem;
  width: auto;
  transition: all 0.15s ease-out;
}
@media (min-width: 768px) {
  .nav__logo img {
    height: 5.6rem;
  }
}
@media (min-width: 996px) {
  .nav__logo img {
    height: 7.6rem;
  }
}
.nav__menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
}
@media (min-width: 996px) {
  .nav__menu-toggle {
    display: none;
  }
}
.nav__menu-toggle span {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 3px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.nav__menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.nav__menu-toggle.active span:nth-child(2) {
  opacity: 0;
  width: 0;
}
.nav__menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.4s ease-out;
}
@media (min-width: 996px) {
  .nav__links {
    flex-direction: row;
    height: auto;
    max-height: unset;
    opacity: 1;
    visibility: visible;
  }
}
.nav__links li {
  display: flex;
}
.nav__links a {
  font-family: "Inter", sans-serif;
  font-size: 1.9rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #FFFFFF;
  transition: font-size 0.25s ease-out;
}
.nav__links .nav__link--cta {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #3C7B8E;
  transition: all 0.25s ease-out;
}
@media (min-width: 768px) {
  .nav__links .nav__link--cta {
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 996px) {
  .nav__links .nav__link--cta {
    padding: 1.8rem 3.4rem;
    font-size: 2rem;
  }
}
.nav__links .nav__link--cta__arrow {
  display: block;
  width: 1.8rem;
  height: 1.2rem;
  background: url("assets/icons/arrow_right.svg");
  background-repeat: no-repeat;
  transition: all 0.25s ease-out;
}
.nav__links .nav__link--cta:hover {
  background-color: #45869A;
  transition: all 0.25s ease-in;
}
.nav__links .nav__link--cta:hover .cta-btn__arrow {
  transform: translateX(4px);
  transition: all 0.25s ease-in;
}

.nav.active {
  background-color: rgba(0, 0, 0, 0.9) !important;
  backdrop-filter: blur(3px);
  transition: all 0.4s ease-out;
}
.nav.active .nav__links {
  display: flex;
  max-height: 100vh;
  margin-top: 4rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-out 0.1s;
}
@media (min-width: 996px) {
  .nav.active .nav__links {
    margin-top: 0;
  }
}

.nav.scrolled {
  background-color: rgba(0, 15, 19, 0.8);
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-in;
}
@media (min-width: 996px) {
  .nav.scrolled {
    padding: 1.9rem 3.2rem 1.9rem 3.2rem;
  }
}
@media (min-width: 996px) {
  .nav.scrolled .logo {
    height: 6.8rem;
    transition: height 0.25s ease-in;
  }
}
.nav.scrolled .nav__links li > a {
  font-size: 1.8rem;
  line-height: 2.4rem;
  transition: all 0.25s ease-out;
}
.nav.scrolled .nav__link--cta {
  padding: 1.5rem 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 34rem;
  height: auto;
  padding: 12.2rem 2rem 3.2rem 3.2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/hero-img--lg.webp);
  background-size: cover;
  background-position: right;
}
@media (min-width: 768px) {
  .hero {
    justify-content: center;
    align-items: center;
    height: 56rem;
    padding: 14rem 3.2rem 5.6rem 3.2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/hero-img--lg.webp);
  }
}
@media (min-width: 996px) {
  .hero {
    min-height: 64rem;
    height: calc(100vh - 24rem);
  }
}
@media (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/images/hero-img--lg.webp);
  }
}
@media (min-width: 1400px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(assets/images/hero-img--lg.webp);
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  width: 100%;
  max-width: 132rem;
}
.hero__text {
  max-width: 52rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (min-width: 768px) {
  .hero__text {
    max-width: 64rem;
    gap: 1.6rem;
  }
}
@media (min-width: 996px) {
  .hero__text {
    max-width: 86rem;
    gap: 2.4rem;
  }
}
@media (min-width: 768px) {
  .hero__text__description {
    max-width: 48rem;
  }
}
@media (min-width: 996px) {
  .hero__text__description {
    max-width: 64rem;
  }
}
.hero__cta-btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #3C7B8E;
  transition: all 0.25s ease-out;
}
@media (min-width: 768px) {
  .hero__cta-btn {
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 996px) {
  .hero__cta-btn {
    padding: 1.8rem 3.4rem;
    font-size: 2rem;
  }
}
.hero__cta-btn__arrow {
  display: block;
  width: 1.8rem;
  height: 1.2rem;
  background: url("assets/icons/arrow_right.svg");
  background-repeat: no-repeat;
  transition: all 0.25s ease-out;
}
.hero__cta-btn:hover {
  background-color: #45869A;
  transition: all 0.25s ease-in;
}
.hero__cta-btn:hover .cta-btn__arrow {
  transform: translateX(4px);
  transition: all 0.25s ease-in;
}

.social-proof {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.4rem 2.4rem;
  background: radial-gradient(50% 50% at 50% 50%, #061A1F 0%, #04161A 100%);
}
@media (min-width: 768px) {
  .social-proof {
    padding: 6.4rem 2.4rem;
  }
}
.social-proof__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 102.4rem;
}
@media (min-width: 768px) {
  .social-proof__items {
    flex-direction: row;
  }
}
.social-proof__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
}
@media (min-width: 768px) {
  .social-proof__item {
    flex: 1;
    gap: 0.4rem;
    flex-direction: column;
    padding: 2rem 3.2rem;
    border-right: 1px solid #163A44;
  }
}
.social-proof__item:last-child {
  border: none;
}
.social-proof__number {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
  color: #F79734;
}
@media (min-width: 768px) {
  .social-proof__number {
    font-size: 6.4rem;
    line-height: 8rem;
  }
}
@media (min-width: 768px) {
  .social-proof__description {
    text-align: center;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 2.4rem;
  width: 100%;
  max-width: 132rem;
}
.features:not(:last-child) {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .features {
    gap: 3.2rem;
    padding-top: 4rem;
  }
}
@media (min-width: 996px) {
  .features {
    gap: 4rem;
    padding-top: 5.6rem;
  }
}
@media (min-width: 1280px) {
  .features {
    padding-top: 8rem;
  }
}
.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .features__wrapper {
    gap: 3.2rem;
  }
}
@media (min-width: 996px) {
  .features__wrapper {
    gap: 4rem;
  }
}
.features__header-wrapper {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #3B4B50;
}
.features__heading {
  padding: 0 2rem 1.2rem 0;
  border-bottom: 2px solid #F79734;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 280px;
  width: 100%;
  padding: 2.4rem;
  border-radius: 6px;
  background-color: #12252A;
}
@media (min-width: 768px) {
  .feature {
    padding: 3.2rem;
    flex: 1 0 348px;
  }
}
@media (min-width: 996px) {
  .feature {
    padding: 4rem;
  }
}
.feature__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.feature__items {
  padding: 2.6rem 0 2.6rem 0;
}
@media (min-width: 768px) {
  .feature__items:first-child {
    padding: 2.8rem 0 3.2rem 0;
  }
}
@media (min-width: 768px) {
  .feature__items:last-child {
    padding: 3.2rem 0 3.2rem 0;
  }
}
.feature__items:not(:first-child) {
  border-top: 1px solid #3B4B50;
}
.feature__icon {
  width: 6.4rem;
  height: auto;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .feature__icon {
    width: 8.8rem;
  }
}
.feature__item {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 3.2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #FFFFFF;
}
@media (min-width: 996px) {
  .feature__item {
    margin-bottom: 1.4rem;
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.feature__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  width: 1.6rem;
  height: 1.6rem;
  background: url(assets/icons/checkmark.svg);
  transform: translateY(50%);
}
@media (min-width: 996px) {
  .feature__item::before {
    top: -1px;
  }
}
.feature__item:last-child {
  margin-bottom: 0;
}
.feature__item--time::before {
  width: 1.8rem;
  height: 1.8rem;
  background: url(assets/icons/time.svg);
}
.feature__item--price::before {
  background: url(assets/icons/price.svg);
}
.feature__item > span {
  font-weight: 500;
}
.feature__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.2rem 2rem;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 1px 1px 9px rgba(255, 255, 255, 0);
  transition: all 0.25s ease-out;
  padding: 1.4rem 2rem;
  max-width: 27.6rem;
}
@media (min-width: 996px) {
  .feature__cta {
    padding: 1.8rem 2.4rem;
    gap: 1.6rem;
    font-size: 2rem;
  }
}
.feature__cta__arrow {
  display: block;
  width: 1.8rem;
  height: 1.2rem;
  padding-right: 0.8rem;
  background: url("assets/icons/arrow_right.svg");
  background-repeat: no-repeat;
  transition: all 0.25s ease-out;
}
.feature__cta:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.05);
  transform: translateY(1px);
  transition: all 0.25s ease-in;
}
.feature__cta:hover .cta-btn__arrow {
  transform: translateX(2px);
  transition: all 0.25s ease-in;
}
@media (min-width: 996px) {
  .feature__cta {
    max-width: none;
  }
}
.feature--highlighted {
  background-color: #163A44;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 0 3.2rem 0;
  width: 100%;
  max-width: 132rem;
}
@media (min-width: 996px) {
  .contact {
    padding: 8rem 0 8rem 0;
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 996px) {
  .contact__container {
    flex-direction: row;
    gap: 5.6rem;
    margin-top: 2.8rem;
  }
}
.contact__left {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact__left {
    gap: 3.2rem;
  }
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.contact__info-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.contact__info-item img {
  width: 4.4rem;
}
@media (min-width: 768px) {
  .contact__info-item img {
    width: 5.2rem;
  }
}
.contact__info-item a {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .contact__info-item a {
    font-size: 2.2rem;
  }
}
.contact__right {
  flex: 6;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2.4rem;
  background-color: #FFFFFF;
  border-radius: 0.6rem;
}
@media (min-width: 768px) {
  .contact__form {
    gap: 3.2rem;
    padding: 4rem;
  }
}
.contact__form__element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.contact__form label {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .contact__form label {
    font-size: 1.8rem;
  }
}
.contact__form label > span {
  color: #A0A7A9;
}
.contact__form input,
.contact__form select,
.contact__form textarea {
  position: relative;
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #05171C;
  border-radius: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #05171C;
  appearance: none;
}
@media (min-width: 768px) {
  .contact__form input,
  .contact__form select,
  .contact__form textarea {
    font-size: 1.9rem;
  }
}
.contact__form input:focus,
.contact__form select:focus,
.contact__form textarea:focus {
  border: 2px solid #F79734;
  outline: 3px solid rgba(247, 150, 52, 0.4509803922);
}
.contact__form .contact__select-wrapper {
  position: relative;
}
.contact__form .contact__select-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  right: 1.2rem;
  bottom: 50%;
  border-bottom: 2px solid #05171C;
  border-right: 2px solid #05171C;
  z-index: 10;
  transform: rotate(45deg) translateY(50%);
}
.contact__form .contact__select-wrapper #plans.focused {
  animation: selectFlash 1.5s forwards;
  transition: background-color 0.25s; /* Transition property and duration */
}
.contact__form #contact__form-submit {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #3C7B8E;
  transition: all 0.25s ease-out;
  max-width: 21rem;
}
@media (min-width: 768px) {
  .contact__form #contact__form-submit {
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 996px) {
  .contact__form #contact__form-submit {
    padding: 1.8rem 3.4rem;
    font-size: 2rem;
  }
}
.contact__form #contact__form-submit__arrow {
  display: block;
  width: 1.8rem;
  height: 1.2rem;
  background: url("assets/icons/arrow_right.svg");
  background-repeat: no-repeat;
  transition: all 0.25s ease-out;
}
.contact__form #contact__form-submit:hover {
  background-color: #45869A;
  transition: all 0.25s ease-in;
}
.contact__form #contact__form-submit:hover .cta-btn__arrow {
  transform: translateX(4px);
  transition: all 0.25s ease-in;
}
@media (min-width: 996px) {
  .contact__form #contact__form-submit {
    max-width: 27rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 3.2rem;
  width: 100%;
  max-width: 132rem;
}
@media (min-width: 768px) {
  .gallery {
    gap: 3.2rem;
    padding-top: 4rem;
  }
}
@media (min-width: 996px) {
  .gallery {
    gap: 4rem;
    padding-top: 5.6rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-top: 8rem;
  }
}
.gallery__thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (min-width: 768px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2rem;
  }
}
@media (min-width: 996px) {
  .gallery__thumbnails {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gallery__thumbnail {
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background-color: #000F13;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2.4rem 0 2.4rem;
}
@media (min-width: 768px) {
  .container-wrapper {
    padding: 0 3.2rem 0 3.2rem;
  }
}
@media (min-width: 996px) {
  .container-wrapper {
    padding: 0 4rem 0 4rem;
  }
}

.container-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 3.2rem;
  background-color: #183F4A;
}
@media (min-width: 768px) {
  .container-full {
    margin-top: 8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
